{% extends "frontstore/base.html" %}
{% block content %}


<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Nezan's Project</h1>
        </div>
    </div>

    <div class="row py-lg-5">
        <div class="col-12">
            <p class="lead text-muted fw-light">Hello, my name is Nezan Khan, and I have developed this protfolio Project using
                the
                following
                technologies:</p>
            <ul class="list-unstyled">
                <li><a href="https://www.python.org/" target="_blank">Python</a></li>
                <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
                <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
                <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
            </ul>
        </div>
    </div>
    <div class="row py-lg-5">

        <div class="col-12">
            <div class="card bg-light mt-3">
                <blockquote class="blockquote card-body">
                    <p class="mb-0">I am a certified professional accountant (CPA) residing in Canada. I have a great passion for learning computer science. I am always looking for new opportunities to strengthen my skills. I specialize in backend, currently enrolled in frontend software development program to become a full stack Engineer. If you like to discuss job opportunity or consultation please contact me on LinkedIn, I would love to discuss the opportunity to work with you.</p>
                </blockquote>
            </div>
        </div> 
    </div>
    <div class="row py-lg-5">
        <div class="col-12">
            <a href="https://www.linkedin.com/in/nezankhan/" class="btn btn-primary my-2" target="_blank">Nezan Khan: LinkedIn</a>
        </div>
    </div>
    <div class="row py-lg-5">
        <div class="col-12">
            <p class="lead text-muted">Project was made possible due to great resources provided by Nucamp: Coding bootcamp</p>
        </div>
    </div>

</div>


{% endblock content %}